<footer>
      <div style="margin-left: 72px;">
        <div>
          <p>Contact Support</p>
          <p>FAQ</p>
          <p>Policies</p>
        </div>
        <div class="social-media">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <p>© 2025 UniLab Booking. All rights reserved.</p>
      </div>
      
    </footer>