<div class="homepage">
    <!-- Header -->
    <div class="header">
      <div class="left-section">
        <button id="hamburger-icon"><i class="fa-solid fa-bars" ></i></button>
        <div class="logo" onclick="location.href = 'signup-homepage.html'">
          UniL
          <i class="fa-solid fa-flask" style="font-size: 20px; color: #2A4E77;"></i>
          <i class="fa-solid fa-blog"
            style="font-size: 26px; margin-bottom: 6px; color: #2A4E77; margin-right: 10px;"></i>
          <span id="booking">Booking</span>
        </div>
      </div>

      <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search" aria-label="Search">
        <button class="search-button" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <div class="right-section">
        <button class="sign-in-button" onclick="location.href = 'login-signup.html'">
          <i class="fa-solid fa-circle-user"></i>
          <p>Sign up</p>
        </button>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-link Home-button" onclick="location.href = 'signup-homepage.html'">
        <i class="fa-solid fa-house"></i>
        <p id="home-label">Home</p>
      </div>

      <div class="sidebar-link" onclick="location.href = 'signup-calendar.html'">
        <i class="fa-regular fa-calendar"></i>
        <p id="calendar-label">Calendar</p>
      </div>

      <div class="sidebar-link" onclick="location.href = 'signup-help-support.html'">
        <i class="fa-solid fa-circle-info"></i>
        <p id="help-label">Help</p>
      </div>

    </div>

    <div id="extended-sidebar">
      <div class="extended-sidebar-link Home-button" 
      onclick="location.href = 'signup-homepage.html'">
        <i class="fa-solid fa-house"></i>
        <p id="home-label">Home</p>
      </div>

      <div class="extended-sidebar-link" 
      onclick="location.href = 'signup-calendar.html'">
        <i class="fa-regular fa-calendar"></i>
        <p id="calendar-label">Calendar</p>
      </div>

      <div class="extended-sidebar-link" 
      onclick="location.href = 'signup-help-support.html'">
        <i class="fa-solid fa-circle-info"></i>
        <p id="help-label">Help</p>
      </div>
    </div>
    <div class="overlay"></div>
  </div>


