<div class="homepage">
    <!-- Header -->
    <div class="header">
      <div class="left-section">
        <button class="hamburger-icon"><i class="fa-solid fa-bars" ></i></button>
        <div class="logo" onclick="location.href = '/'">
          UniL
          <i class="fa-solid fa-flask" style="font-size: 20px; color: #2A4E77;"></i>
          <i class="fa-solid fa-blog"
            style="font-size: 26px; margin-bottom: 6px; color: #2A4E77; margin-right: 10px;"></i>
          <span id="booking">Booking</span>
        </div>
      </div>

      <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search" aria-label="Search">
        <button class="search-button" aria-label="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      {{#if student}}
         <div class="right-section">
            <i class="fa-solid fa-circle-user logged-in-i"></i>
        </div>

        <div id="check-profile">
          <div class="profile-pic-name-container">
            <i class="fa-solid fa-circle-user" 
              style=" font-size: 50px; 
              margin-left: 20px;"></i>
            <p>{{user.name}}</p>
          </div>    
          
          <button class="check-profile-buttons js-account-settings"             
            data-action="account-settings">
            <i class="fa-solid fa-gear"></i>
            Account Settings
          </button>
          <form id="signoutForm" action="/signout" method="POST">
            <button class="check-profile-buttons" type="submit">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Sign out
              </button>
          </form>
          
        </div>

        <div id="check-account-setting">
          <button class="back-to-prof-dropdown" data-action="back-to-profile">
            &lt; Back
          </button>
         
          <button class="check-profile-buttons" onclick="location.href = '/profile'">
            <i class="fa-regular fa-user" style="margin-right: 21px;" ></i>
            View Profile
          </button>
          <button class="check-profile-buttons"
          onclick="location.href = '/edit-profile'">
            <i class="fa-solid fa-user-pen"></i>
            Edit Profile
          </button>
          <button class="check-profile-buttons" onclick="location.href = '/manage-account'">
            <i class="fa-solid fa-user-gear" style="margin-right: 17px;"></i>
            Manage Account
          </button>
        </div>

        {{else if labtech}}
          <div class="right-section">
            <i class="fa-solid fa-circle-user logged-in-i"></i>
        </div>

        <div id="check-profile">
          <div class="profile-pic-name-container">
            <i class="fa-solid fa-circle-user" 
              style=" font-size: 50px; 
              margin-left: 20px;"></i>
            <p>{{user.name}}</p>
          </div>    
          
          <button class="check-profile-buttons js-account-settings"             
            data-action="account-settings">
            <i class="fa-solid fa-gear"></i>
            Account Settings
          </button>
         <form id="signoutForm" action="/signout" method="POST">
            <button class="check-profile-buttons" type="submit">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Sign out
              </button>
          </form>
        </div>

        <div id="check-account-setting">
          <button class="back-to-prof-dropdown" data-action="back-to-profile">
            &lt; Back
          </button>
         
          <button class="check-profile-buttons" onclick="location.href = '/profile'">
            <i class="fa-regular fa-user" style="margin-right: 21px;" ></i>
            View Profile
          </button>
          <button class="check-profile-buttons"
          onclick="location.href = '/edit-profile'">
            <i class="fa-solid fa-user-pen"></i>
            Edit Profile
          </button>
          <button class="check-profile-buttons" onclick="location.href = '/manage-account'">
            <i class="fa-solid fa-user-gear" style="margin-right: 17px;"></i>
            Manage Account
          </button>
        </div>

      {{else}}
        <div class="right-section">
          <button class="sign-in-button" onclick="location.href = '/signup-login'">
            <i class="fa-solid fa-circle-user"></i>
            <p>Sign up</p>
          </button>
        </div>
      {{/if}}
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-link Home-button" onclick="location.href = '/'">
        <i class="fa-solid fa-house"></i>
        <p id="home-label">Home</p>
      </div>

      <div class="sidebar-link" onclick="location.href = '/calendar'">
        <i class="fa-regular fa-calendar"></i>
        <p id="calendar-label">Calendar</p>
      </div>

      {{#if labtech}}
        <div class="sidebar-link" style="margin-top: 5px;"
        onclick="location.href = '/reservation-list'">
          <i class="fa-regular fa-rectangle-list"></i>
          <p id="reservation-label">Reservations</p>
        </div>
      {{/if}}

      <div class="sidebar-link" onclick="location.href = '/help-support'">
        <i class="fa-solid fa-circle-info"></i>
        <p id="help-label">Help</p>
      </div>

    </div>

    <div id="extended-sidebar">
      <div class="extended-sidebar-link Home-button" 
      onclick="location.href = '/'">
        <i class="fa-solid fa-house"></i>
        <p id="home-label">Home</p>
      </div>

      <div class="extended-sidebar-link" 
      onclick="location.href = '/calendar'">
        <i class="fa-regular fa-calendar"></i>
        <p id="calendar-label">Calendar</p>
      </div>

      {{#if labtech}}
       <div class="extended-sidebar-link" style="margin-top: 3px;"
        onclick="location.href = 'labtech-reservation-list.html'">
          <i class="fa-regular fa-rectangle-list"></i>
          <p id="reservation-label">Reservations</p>
        </div>
      {{/if}}

      <div class="extended-sidebar-link" 
      onclick="location.href = '/help-support'">
        <i class="fa-solid fa-circle-info"></i>
        <p id="help-label">Help</p>
      </div>
    </div>
    <div class="overlay"></div>
  </div>


