<!DOCTYPE html>
<html>
  <head>
   <script src="https://kit.fontawesome.com/a39233b32c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login-signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/login-signup.js"></script>

    <title>{{title}}</title>
  </head>
  <body>    
    {{{body}}}
  </body>
</html>