<!-- Content Section -->
<div class="content-section">     
      <h1 class="h1-blue-color">Help and Support</h1> 
      <section class="faqs">
        <h2 class="blue-color">FAQs</h2>
        <details> 
          <summary>How do I book a lab?</summary>
          <p>Login and then go to the Reservations page, select your lab, and choose a time slot.</p>
        </details>
        <details>
          <summary>How do I update my profile?</summary>
          <p>Log in, tap your profile icon in the upper right, tap "Account Settings," and navigate to "Edit Profile" to update your details.</p>
        </details>
        <details>
          <summary>What’s the cancellation policy?</summary>
          <p>Cancellations must be made at least 24 hours in advance.</p>
        </details>
        <details>
          <summary>What if I will be late for my reservation?</summary>
          <p>Reservations will be cancelled 10 minutes after the allotted time.</p>
        </details>
        <details>
          <summary>How do I see available slots?</summary>
          <p>Available slots for the following 7 days can be seen on the calendar page.</p>
        </details>
      </section>
      <div class="contacts-container">
        <h2 class="blue-color">Contact Us</h2>
        <div class="contact-info-container">
          <div class="contact email">
            <i class="fas fa-envelope"></i>
            <h3>Email</h3>
            <div>unilabbooking@gmail.com</div>
          </div>
          <div class="contact phone-no">
            <i class="fas fa-phone"></i>
            <h3>Phone Number</h3>
            <div>0995 123 4567</div>
          </div>
          <div class="contact">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Location</h3>
            <div>12345 Taft Ave, Malate, Manila</div>
          </div>
        </div>
      </div>
    </div>

