<!-- Content Section -->
<div class="content-section">      
      <div class="welcome">
        RESERVE YOUR LAB<br/> SPACES NOW
      </div>
      {{#if student}}
        <button class="get-started-button" 
        onclick="location.href = '/calendar'">Get Started</button>

        {{else if labtech}}
        <button class="get-started-button" 
        onclick="location.href = '/calendar'">Get Started</button>
      {{else}}
        <button class="get-started-button" 
        onclick="location.href = '/signup-login'">Get Started</button>
      {{/if}}
     
      <div class=" features">
        <h1 class="why-choose-us">Why Choose Us?</h1>
        <div>
          <div class="feature-item">
            <i class="fa-solid fa-clock fa-2x"></i>
            <h2>Real-Time Availability</h2>
            <p>See up-to-date lab schedules and avoid conflicts.</p>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-mobile-screen fa-2x"></i>
            <h2>Mobile-Friendly</h2>
            <p>Book labs on any device, anytime.</p>
          </div>
          <div class="feature-item">
            <i class="fa-solid fa-bell fa-2x"></i>
            <h2>Instant Notifications</h2>
            <p>Get reminders and updates via email/SMS.</p>
          </div>
        </div>
      </div>

      <div class=" features instructions">
        <h1 class="why-choose-us">How to Reserve a Lab</h1>
        <div>
          <div class="feature-item">
            <div class="circle"></div>
            <h2 class="instructions-number">1</h2>
            <h2>Sign up or Log in your account</h2>
            <p>Make your own account to start lab reservations.</p>
          </div>
          <div class="feature-item">
            <div class="circle"></div>
            <h2 class="instructions-number">2</h2>
            <h2>Select a Lab</h2>
            <p>Choose a computer lab from the list.</p>
          </div>
          <div class="feature-item">
            <div class="circle"></div>
            <h2 class="instructions-number">3</h2>
            <h2>Pick Date &amp; Time</h2>
            <p>Use the calendar to find available slots.</p>
          </div>
          <div class="feature-item">
            <div class="circle"></div>
            <h2 class="instructions-number">4</h2>
            <h2>Confirm Booking</h2>
            <p>Review slots chosen and confirm booking.</p>
          </div>
        </div>
      </div>

    </div>
