<div class="content-section">
  <div class="content-container">
    <!-- sidebar -->
    <div id="settings-sidebar" class ="d-flex flex-column">
      <h4 class="mb-4 mt-4"><strong>Manage Account</strong></h4>
      <!-- sidebar buttons -->
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="change-pass"
           data-bs-toggle="pill" href="#change-pass-tab" role="tab"
           aria-controls="change-pass" aria-selected="true">Change Password</a>
          {{#if student}}
        <a class="nav-link" id="priv-settings"
           data-bs-toggle="pill" href="#priv-settings-tab" role="tab"
           aria-controls="priv-settings" aria-selected="false">Privacy Settings</a>
            {{/if}}
        <a class="nav-link" id="delete-acc"
           data-bs-toggle="pill" href="#delete-acc-tab" role="tab"
           aria-controls="delete-acc" aria-selected="false">Delete Account</a>
      </div>
    </div>

    <div class="tab-content" id="v-pills-tabContent">

      <!-- change password tab -->
      <div class="tab-pane fade" id="change-pass-tab" role="tabpanel" aria-labelledby="change-pass">
        <div class="content">
          <h5 class="mb-5 mt-4"><strong>Change Password</strong></h5>
          <form id="pass-info" novalidate>
            <div class="form-group row">

              <label for="curr-password" class="col-sm-2 col-form-label">Current Password</label>
              <div class="col-sm-10 input-spacing">
                <input type="password" class="form-control" id="curr-password" placeholder="Current Password" required>
                <div class="invalid-feedback">Current password is required.</div>
              </div>

              <label for="new-password" class="col-sm-2 col-form-label">New Password</label>
              <div class="col-sm-10 input-spacing">
                <input type="password" class="form-control" id="new-password" placeholder="New Password" required>
                <div class="invalid-feedback">Password must be at least 8 characters.</div>
              </div>

              <label for="confirm-password" class="col-sm-2 col-form-label">Confirm New Password</label>
              <div class="col-sm-10 input-spacing">
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required>
                <div class="invalid-feedback">Passwords do not match.</div>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
              <button type="button" class="btn btn-primary" id="submit-pass" data-bs-toggle="modal"
                      data-bs-target="#confirm-change" disabled>Change Password</button>

              <div class="modal fade" id="confirm-change" tabindex="-1" role="dialog" aria-labelledby="confirm-change-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirm-change-label">Confirm Change</h5>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to change your password?
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" id="confirm-btn">Yes</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="change-success" tabindex="-1" aria-labelledby="change-success-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="change-success-label">Success</h5>
                    </div>
                    <div class="modal-body text-center">
                      Your password has been changed successfully!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                    </div>
                  </div>
                </div>
              </div>

            <div class="modal fade" id="wrong-pass" tabindex="-1" aria-labelledby="wrong-pass-label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="wrong-pass-label">Wrong Password!</h5>
                        </div>
                        <div class="modal-body text-center">
                            Please enter your old password correctly.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>

          </form>
        </div>

      </div>

      <!-- privacy settings tab -->
      <div class="tab-pane fade" id="priv-settings-tab" role="tabpanel" aria-labelledby="priv-settings">
        <div class="content">
          <h5 class="mb-5 mt-4"><strong>Privacy Settings</strong></h5>
          <!-- account visibility -->
          <div class="pb-4" style="border-bottom: 2px solid #f3f3f3;">
            <label class="form-label mb-4"><b>Account Visibility</b></label>

            <div class="form-check">
              <input type="radio" class="form-check-input" name="acc-visible" id="public" value="Public" checked>
              <label class="form-check-label" for="public">Public</label>
              <small class="text-muted d-block">Anyone can see your account.</small>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" name="acc-visible" id="private" value="Private">
              <label class="form-check-label" for="private">Private</label>
              <small class="text-muted d-block">Only lab technicians can see your account.</small>
              <!-- im not sure if there should be an option to completely make user anonymous lol -->
            </div>
          </div>

          <!-- activity sharing -->
          <div class="pt-4 pb-4">
            <label class="form-label mb-4"><b>Activity Sharing</b></label>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="show-stats">
              <label class="form-check-label" for="show-stats">Show my statistics to other users</label>
            </div>

            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="show-reserves">
              <label class="form-check-label" for="show-reserves">Show my reservations to other users</label>
            </div>

            <div class="mb-4 mt-2 mx-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input reserve-checkbox" id="show-booked" disabled>
                <label class="form-check-label" for="show-booked">Allow others to see my booked reservations</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input reserve-checkbox" id="show-ongoing" disabled>
                <label class="form-check-label" for="show-ongoing">Allow others to see my ongoing reservations</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input reserve-checkbox" id="show-previous" disabled>
                <label class="form-check-label" for="show-previous">Allow others to see my previous reservations</label>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4">
            <button type="button" data-id="{{userSettings._id}}" class="btn btn-primary" id="change-priv">Save Changes</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="change-setting-success" tabindex="-1" aria-labelledby="setting-success-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="setting-success-label">Success!</h5>
            </div>
            <div class="modal-body text-center">
              Your settings has been changed successfully!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="setting-success-ok">OK</button>
            </div>
          </div>
        </div>
      </div>
        <div class="modal fade" id="change-setting-fail" tabindex="-1" aria-labelledby="setting-fail-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="setting-fail-label">Failed!</h5>
                    </div>
                    <div class="modal-body text-center">
                        Setting update failed!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

      <!-- delete account tab -->
      <div class="tab-pane fade" id="delete-acc-tab" role="tabpanel" aria-labelledby="delete-acc">
        <div class="content">
          <h5 class="mb-5 mt-4"><strong>Delete Account</strong></h5>
            <p class="text-danger">
              <i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>
              <b>Warning: This action is irreversible. All your data, including your profile, reservations, and settings will be lost and can never be retrieved.</b>
            </p><br/>
            <form id="delete-acc-details">
              <div class="mb-3">
                <label class="form-label"><b>Enter your account details to confirm:</b></label>
                <div class="col-sm-10 input-spacing">
                  <input type="text" class="form-control" id="delete-acc-email" placeholder="Email" required>
                </div>
                <div class="col-sm-10 input-spacing">
                  <input type="password" class="form-control" id="delete-acc-pass" placeholder="Password" required>
                </div>
                <div class="form-check col-sm-10 input-spacing">
                  <input class="form-check-input" type="checkbox" value="" id="delete-acc-check">
                  <label class="form-check-label" for="delete-acc-check">
                    I understand that deleting my account is irreversible.
                  </label>
                </div>
              </div>

              <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-primary" id="submit-delete" data-bs-toggle="modal"
                        data-bs-target="#confirm-delete" disabled>Delete My Account</button>

                <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-label" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirm-delete-label">Confirm Account Deletion</h5>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete your account?
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="delete-yes">Yes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function () {
        const pass_form = $('#pass-info');
        const oldPass = $('#curr-password');
        const newPass = $('#new-password');
        const confirmPass = $('#confirm-password');
        const submitBtn = $('#submit-pass');
        const confirmModalSubmit = $('#confirm-btn');
        const user = {{{json user}}};

        const deleteForm = $('#delete-acc-details');
        const submit = $('#submit-delete');
        const checkbox = $('#delete-acc-check');
        const settings = {{{json userSettings}}};
        const deleteYes = $('#delete-yes');
        const checkboxes = $(".reserve-checkbox");

        function loadSettings(){
            if (settings.accVisibility === "Public") {
                $('#public').prop('checked', true);
            } else {
                $('#private').prop('checked', true);
            }

            if (settings.showStats) {
                $('#show-stats').prop('checked', true);
            } else {
                $('#show-stats').prop('checked', false);
            }

            if (settings.showReserves) {
                $('#show-reserves').prop('checked', true);

                checkboxes.each(function () {
                    $(this).prop('disabled', false);
                });

                if (settings.showBooked) {
                    $('#show-booked').prop('checked', true);
                } else $('#show-booked').prop('checked', false);
                if (settings.showOngoing) {
                    $('#show-ongoing').prop('checked', true);
                } else $('#show-ongoing').prop('checked', false);
                if (settings.showPrevious) {
                    $('#show-previous').prop('checked', true);
                } else $('#show-previous').prop('checked', false);
            } else {
                $('#show-reserves').prop('checked', false);
                $('#show-booked').prop('checked', false);
                $('#show-ongoing').prop('checked', false);
                $('#show-previous').prop('checked', false);
            }
        }

        $('#v-pills-tab a').on('click', function (e) {
            e.preventDefault();

            let thisID = $(this).attr('id');
            console.log("Switching to tab:", thisID);
            //switches tabs by deactivating & activating tabs
            $('#v-pills-tab .nav-link').removeClass('active');
            $(this).addClass('active');
            new bootstrap.Tab(this).show();

            //to reset the forms when switching tabs
            $('#v-pills-tabContent form').each(function () {
                if(thisID !== "priv-settings"){
                    this.reset();
                }
                else{
                    loadSettings();
                }
                $(this).removeClass('was-validated');
            });
            $('#v-pills-tabContent form .form-control').removeClass('is-invalid is-valid');
        });

        //button availability for Delete Account
        function checkForm() {
            let isFilled = true;
            deleteForm.find('[required]').each(function () {
                if ($(this).val().trim() === "") {
                    isFilled = false;
                }
            });

            submit.prop('disabled', !(isFilled && checkbox.prop('checked')));
        }
        checkForm();

        deleteForm.on('input change', checkForm);

        //validate password input
        function validatePasswords() {
            //new password must be at least 8 chars
            if (newPass.val().length >= 8) {
                newPass.removeClass("is-invalid").addClass("is-valid");
            } else {
                newPass.removeClass("is-valid").addClass("is-invalid");
            }

            //new pass and confirm pass must be the same
            if (confirmPass.val() === newPass.val() && confirmPass.val().length >= 6) {
                confirmPass.removeClass("is-invalid").addClass("is-valid");
                submitBtn.prop("disabled", false);
            } else {
                confirmPass.removeClass("is-valid").addClass("is-invalid");
                submitBtn.prop("disabled", true);
            }
        }

        newPass.on("input", validatePasswords);
        confirmPass.on("input", validatePasswords);

        //change password modal from confirmation to success
        confirmModalSubmit.on("click", function () {
            const confirmModal = bootstrap.Modal.getInstance($('#confirm-change')[0]);
            confirmModal.hide();
            console.log(user)

            $.ajax({
                url: '/change-password',
                type: 'POST',
                data: {
                    oldPass: oldPass.val(),
                    newPass: newPass.val()
                },
                success: function(response) {
                    if(response.success){
                        const successModal = new bootstrap.Modal($('#change-success')[0]);
                        successModal.show();

                        pass_form[0].reset();

                        newPass.removeClass("is-valid is-invalid");
                        confirmPass.removeClass("is-valid is-invalid");
                        submitBtn.prop("disabled", true);
                    } else {
                        const failedModal = new bootstrap.Modal($('#wrong-pass')[0]);
                        failedModal.show();
                    }
                }
            })
        });

        //this is to show "password changed successfully" modal
        pass_form.on("submit", function (event) {
            event.preventDefault();
            return false;
        });

        //to not refresh page when submitting "yes" in account deletion
        deleteForm.on("submit", function (event) {
            event.preventDefault();
            return false;
        });

        //redirects to home page upon deleting account
        deleteYes.on("click", function () {
            alert("Account deleted successfully.");
            window.location.href = "signup-homepage.html";
        });

        $("#change-priv").on("click", function () {
            let visibility = $('input[name=acc-visible]:checked').val()
            let showStats = $("#show-stats").prop("checked")
            let showReserves = $("#show-reserves").prop("checked")

            let booked = $("#show-booked").prop("checked")
            let ongoing = $("#show-ongoing").prop("checked")
            let previous = $("#show-previous").prop("checked")

            const settingsID = $(this).data('id')

            $.ajax({
              url: '/change-privacy-settings',
              type: 'POST',
              data: {
                  id: settingsID,
                  accVisibility: visibility,
                  showStats: showStats,
                  showReserves: showReserves,
                  showBooked: booked,
                  showOngoing: ongoing,
                  showPrevious: previous,
              },
              success: function (response) {
                  if(response.success) {
                      $("#change-setting-success").modal('show')
                      $("#setting-success-ok").off("click").on("click", function () {
                          $("#change-setting-success").modal("hide")
                      });
                  } else{
                      $("#change-setting-fail").modal('show')
                  }
                  loadSettings();
              }
            })

        })

        //enable/disable checkboxes in privacy settings based on "show reservations" option
        $("#show-reserves").on("change", function () {
            checkboxes.each(function () {
                if (!$('#show-reserves').prop("checked")) {
                    $(this).prop("checked", false);
                }
                $(this).prop("disabled", !$('#show-reserves').prop("checked"));
            });
        });
    });
</script>