<!-- Content Section -->
<div class="login-signup-container">

      <!-- Form Section -->
      <div class="form-container" id="slider1">
        <div class="logo-container" onclick="location.href = '/'">
          <img class= "logo" src="/images/logo.png">     
        </div>
        <!-- Login Form -->
        <div class="form-content" id="login-box" style="display: none;">
          <h1 class="login-signup">Login</h1>

           <form id="login-form" action="/login" method="post">
            <div class="input-container">
              <input id="email-input" name="email-input" type="text" placeholder="Email"/>
              <i class="fa-solid fa-circle-exclamation login-warning" style="color: #ff6f61;"></i>
            </div> 

            <div class="input-container">
              <input id="password-input" name="password-input" type="password" placeholder="Password"/>
              <i class="fa-solid fa-circle-exclamation login-warning" style="color: #ff6f61;"></i>
            </div>

            <p class="invalid-message">Invalid email or password input!</p>
            <div class="remember-me-option">
              <input type="checkbox" value="notRemembered" class="remember-me-checkbox" id="login-checkbox" name="login-checkbox">
              <p>Remember me</p>
            </div>
            <button class="login-signup-btn login-button" 
            onclick="remembered();" type="submit">Login</button>
          </form>

          <div>
            Don't have an account?
            <button class="switch-signup-login" onclick="showSignUp()">Sign Up</button>
          </div>
        </div>

        <!-- Sign-Up Form -->
        <div class="form-content" id="signup-box">
          <h1 class="login-signup">Sign Up</h1>

           <form id="signup-form" action="/signup" method="post">
            <div class="input-container">
              <input id="signup-email" name="signup-email" type="text" placeholder="Email">
              <i class="fa-solid fa-circle-exclamation signup-warning" style="color: #ff6f61;"></i>
            </div>
            <div class="input-container">
              <input id="signup-password" name="signup-password" type="password" placeholder="Password">
              <i class="fa-solid fa-circle-exclamation signup-warning" style="color: #ff6f61;"></i>
            </div>
            <div class="input-container">
              <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password">
              <i class="fa-solid fa-circle-exclamation signup-warning" style="color: #ff6f61;"></i>
            </div>
            <div class="role-dropdown">
              <label for="signup-role">Role:</label>
              <select id="signup-role" name="signup-role" required class="role-pick">
                <option value="student">Student</option>
                <option value="labtech">Lab Technician</option>
              </select>
            </div>

            <p class="invalid-message">Invalid email or password input!</p>
            <button type="submit" class="login-signup-btn">Sign Up</button>
          </form>

          <div>
            Have an account?
            <button class="switch-signup-login" onclick="showLogin()">Login</button>
          </div>
        </div>
      </div>

      <!-- Design Section -->
      <div class="design" id="slider">
       <img class="image-design" src="/images/login-signup-design.jpeg" alt="image">
        <p class="message"> Welcome to<span> UniLab Booking!</span></p>
      </div>
</div>
