<!-- Content Section -->
    <div class="main-content-spacing">

        <div class="d-flex justify-content-around" id="profile-section">
            <div class="w-50" id="profile-info-section">
                <div class="d-flex gap-3 align-prof-desc">
                    <div id="profile-image">
                        <img src="/images/default_profilepic.jpg" alt="image" class="profile-image">
                    </div>

                    <div>
                        <div class="pt-3" id="profile-info">
                            <div class="h3">
                                Juan dela Cruz
                            </div>
                            <div class="h5">
                                Student
                            </div>
                        </div>

                        <div id="profile-description" style="text-align: justify; text-justify: inter-word;">
                            I am a first-year Computer Science major at De La Salle University (DLSU),
                            specializing
                            in
                            Software
                            Technology.
                            Passionate about coding and problem-solving, I am eager to explore new technologies
                            and
                            develop
                            innovative solutions.
                            Currently honing my skills in programming, web development, and algorithms, I aspire
                            to
                            contribute
                            to impactful projects
                            in the tech industry.
                        </div>

                    </div>

                </div>
            </div>

            <!--DAshboard-->
            <div class="pr-5" id="dashboard-section">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Student Statistics
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Attendance rate</h5>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100" style="height:5px;">
                            <div class="progress-bar" style="width: 90%"></div>
                        </div>

                        <h5 class="card-title mt-3">On-time Arrival</h5>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="height:5px;">
                            <div class="progress-bar" style="width: 70%"></div>
                        </div>

                        <h5 class="card-title mt-3">Session Completion</h5>
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100" style="height:5px;">
                            <div class="progress-bar" style="width: 80%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- My Reservations-->
        <div class="row-sm-2">
            <div id="reservations-title">
                <div class="flex-row pt-4">
                    <div class="h2">
                        My Reservations
                    </div>

                </div>

            </div>

        </div>

        <div class="row-sm-5">

            <div id="reservation-section">
                <div class="row row-cols-3 ">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-success mb-2">Booked</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>


                                <h5 class="card-title">Reservation 6</h5>
                                <p class="card-text"> Lab 3, Gokongwei Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">February 7, 2025</li>
                                <li class="list-group-item">10:45 AM - 11:45 AM</li>
                                <li class="list-group-item">Seat 3</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-warning text-dark mb-2">On-going</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                                <h5 class="card-title">Reservation 5</h5>
                                <p class="card-text"> Lab 4, Yuchengco Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">February 2, 2025</li>
                                <li class="list-group-item">8:30 AM - 9:30 AM</li>
                                <li class="list-group-item">Seat 6</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-dark mb-2">Completed</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                                <h5 class="card-title">Reservation 4</h5>
                                <p class="card-text"> Lab 2, St. Miguel Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">January 27, 2025</li>
                                <li class="list-group-item">7:30 AM - 9:30 AM</li>
                                <li class="list-group-item">Seat 9</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-dark mb-2">Completed</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                                <h5 class="card-title">Reservation 3</h5>
                                <p class="card-text"> Lab 3, Velasco Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">January 26, 2025</li>
                                <li class="list-group-item">3:30 PM - 4:30 PM</li>
                                <li class="list-group-item">Seat 4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-dark mb-2">Completed</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                                <h5 class="card-title">Reservation 2</h5>
                                <p class="card-text"> Lab 4, Gokongwei Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">January 24, 2025</li>
                                <li class="list-group-item">4:00 PM - 5:00 PM</li>
                                <li class="list-group-item">Seat 8</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div id="badges-settings-section">
                                    <div class="d-flex justify-content-between">
                                        <div class="">
                                            <span class="badge rounded-pill bg-dark mb-2">Completed</span>
                                        </div>
                                        <div class="dropdown">
                                            <button class="align-button btn" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"> <i class="fa-solid fa-ellipsis"></i></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <h5 class="card-title">Reservation 1</h5>
                                <p class="card-text"> Lab 2, Velasco Building</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">January 21, 2025</li>
                                <li class="list-group-item">11:30 AM - 12:30 PM</li>
                                <li class="list-group-item">Seat 23</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
