.content-section{
    margin-left: 30px;
    background-color: #f7f7f7;
}

/* Real-time Clock */
.clock-container {
    font-size: 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
    width: fit-content;
    position: fixed;
    top: 70px;
    right: 20px;
    z-index:1;
}

/* Main Container , Top Middle Box enclosing calendar*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    background: white;
    padding: 30px 0px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 880px;
    height: 600px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 80px;
    justify-content: center;
}

.calendar-container {
    margin-top:10px;
    width: 500px;
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.nav-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    gap: 2px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    height: 300px;
    padding: 15px;
}

#current-month{
    font-weight: bold;
    font-size: 24px;
}

.day{
    padding: 14px 0px;
    border-radius: 5px;
    width:65px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
} 

.date {
    padding: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.date:hover {
    opacity: 0.8;
}

.selected {
    border: 2px solid #000 !important;
}

/* Color Coding for Availability */
.low-availability {
    background-color: #b8e6b8;
    color: black;
}

.medium-availability {
    background-color: #fbe5a5;
    color: black;
}

.high-availability {
    background-color: #f5b5b5;
    color: black;
}

.past-date {
    background: #d3d3d3 !important;
    cursor: not-allowed;
    color: #777;
}

/* Campus Dropdown starts here*/
/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: gray;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
/* Campus Dropdown ends here*/

.left-selection-container{
    display: flex;
    flex-direction: column;
}

/* Box for Room Selector */
.room-list-container {
    min-width: 35%;
    min-height: 85%;
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 350px;
    overflow-y: auto;
    position: relative;
    top: 2%;
}

.room-list-container h3{
    font-size: 18px;
    font-weight: bold;
    margin:20px 0px;
   width:220px;
}

#room-availability{
    font-weight: bold;
    font-size: 24px;
    margin: 30px 0px;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-item {
    padding: 6px 10px;
    background: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.room-item:hover {
    background: #d9d9d9;
}

.selected-room {
    background: #4caf50;
    color: white;
}

/* Seating Table & Availability */
.seating-container {
    width: 820px;
    display: flex;
    padding: 20px; 
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    overflow-x: auto;
    margin-bottom: 100px;
}

.seats-table,
.available-table {
    border-collapse: collapse;
    
}

.seats-table th,
.seats-table td,
.available-table th,
.available-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    height: 50px;
}

.seats-table th,
.available-table th {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.highlight {
    background-color: green;
}

/* Seat Styling */
.seats {
    min-width: 70px;
}

.seat-availability-container {
    overflow-x: auto;
}

/* Seat Selection Starts here*/
/* Seat Grids */
.seat {
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background: #e3e3e3;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.seat:hover {
    background: #d1d1d1;
}

.seat.selected {
    background: #4caf50;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.reserved-hour {
    background: #ff6b6b;
    color: white;
    /*
    cursor: not-allowed;
    */
    text-decoration: line-through;
}
/*Seat styling ends here*/


/* Selected Date Style */
.selected-date {
    background-color: #4caf50 !important;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

/* Disable Past Dates */
.past-date {
    background: #d3d3d3 !important;
    cursor: not-allowed;
    color: #777;
    text-decoration: line-through;
}

/* Disable Past Hours */
.past-hour {
    background: #d3d3d3 !important;
    cursor: not-allowed;
    color: #777;
    text-decoration: line-through;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:0px;
    padding-bottom: 100px;
    margin-left: 100px; 
    margin-top: -50px;
    background-color: #f7f7f7;
}

.button {
    background-color: GREEN;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
}

/*Reserve Button Styling Start*/
.reserve-room-btn {
    display: block;
    margin-top: 10%;
    padding: 4px 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.reserve-room-btn:hover {
    background-color: green;
}

#login-reserve-room-btn {
    display: block;
    margin-top: 10%;
    padding: 4px 8px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}
/*Reserve Button Styling End*/

.seating-reservation-wrapper {
    display: flex;
    flex-wrap: wrap; /* Ensures it doesn’t push elements outside */
    gap: 20px; /* Space between seating and time selection */
    align-items: flex-start;
    justify-content: center;
    max-width: 100%; /* Prevents overflow */
    margin-bottom: 20px; /* Adds spacing so it doesn’t interfere with the footer */
}


.reserve-time-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    text-align: center;
}

.reserve-details-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    text-align: justify;
}

.reserve-time-container h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reserve-time-container label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

.time-dropdown {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    cursor: pointer;
}

/* Footer Fix */
footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    left: 0;
}
