.content-container {
  margin-top:20px;
  width: 100%; 
  max-width: 800px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#edit-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

h2 {
  color: rgb(74, 74, 74);
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
  font-weight: bold;
}

.edit-reserve h2{
  margin-left: 20px;
}

.options {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}


.form-label {
  font-weight: bold;
  margin-left: 10px;
}

.reserve-item {
  margin: 5px 16px;
  width: 97.5%; /* to align with options*/
  box-sizing: border-box;
}

.col-pfp {
  margin: 10px 20px;
  margin-left: 80px;
  flex: 0 0 auto;
  width: 125px; 
  height: 125px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.list-img {
  border-radius: 360px;
  border: 3px solid black;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.col-buttons button {
  font-size: 150%;
}

.reserve-details {
  padding: 0px;
}

.res-details-container {
  margin: 10px 80px 5px 10px;
  padding: 10px;
}

.edit-details {
  margin-left: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}
