p {
  margin: 0;
}

body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 55px; /* To account for the fixed header */
}
 
.header {
  height: 57px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(240, 240, 240);
  background-color: white;
  z-index: 100; /* Ensure header is above other content */
}

.header i {
  font-size: 26px;
}

.header p {
  margin-left: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-top: -9px;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: flex; 
  align-items: center; 
  color: #2A4E77;
  padding-bottom: 10px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: -1px;
}

.logo:hover{
  background-color: rgb(247, 247, 247);
}

.middle-section {
  flex: 1;
  max-width: 470px;
  margin-left: -2px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.left-section i{
  font-size: 26px;    
}

#booking-logo-design{
  font-size: 16px;
  letter-spacing: 3px;
  position: absolute;
  margin-top: 36px;
}

.search-bar {
  font-family: Roboto, Arial;
  flex: 1;
  height: 40px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0px 1px 2px rgb(238, 238, 238);
  -webkit-font-smoothing: antialiased;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(204, 204, 204);
  margin-left: -1px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding-top: 4px;
}

.search-button:hover {
  background-color: rgb(230, 230, 230);
}

.right-section {
  margin-right: 40px;
}

.right-section i {
  font-size: 34px;
  cursor: pointer;
  margin-right: 10px;
}

.profile-pic-name-container{
  margin:10px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  vertical-align: middle;
  padding-bottom: 10px;
  border-bottom: rgb(230,230,230) 2px solid;
}

.profile-pic-name-container p{
  margin:0;
  margin-left: 16px;
}

.check-profile-buttons{
  width:100%;
  padding:10px;
  background-color: white;
  border:none;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.check-profile-buttons:hover, .back-to-prof-dropdown:hover{
  background-color: rgb(247, 247, 247);
}

.check-profile-buttons i{
  margin:0px 10px;
  vertical-align: middle;
}

#check-profile,#check-account-setting{
  display: flex;
  flex-direction: column;
  flex:1;
  position: absolute;
  height: 230px;
  width:230px;
  top:6px;
  right: 90px;
  background-color: white;
  border: rgb(230,230,230) solid 2px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.1);
  opacity: 0;
  visibility: hidden;
}

#check-profile.visible, #check-account-setting.visible,#extended-sidebar.visible {
  opacity: 1;
  visibility: visible;
}

.back-to-prof-dropdown{
  width:36%;
  padding:10px;
  background-color: white;
  border:none;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.sidebar {
  width: 74px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  border-right: 2px solid rgb(240, 240, 240);
  z-index: 200;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  background-color: rgb(247, 247, 247);
}

.sidebar-link i {
  font-size: 26px;
}

.sidebar-link p {
  font-size: 11px;
  margin-top: 4px;
  font-weight: bold;
}

.Home-button{
  margin-top:21px;
}

.content-section {
  margin-left: 72px; /* To account for the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 55px); /* Ensures the welcome section is centered */
}






#hamburger-icon{
  cursor: pointer;
  border: none;
  margin-left: -14px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
}

#hamburger-icon:hover{
  background-color: rgb(247, 247, 247);
}

#extended-sidebar{
  position: absolute;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 218px;
  z-index: 200;
  padding-top: 13px;
  opacity: 0;
  visibility: hidden;
}

.extended-sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 12px 12px; /* Updated padding */
  cursor: pointer;
}

.extended-sidebar-link i {
  font-size: 26px;
  margin-right: 20px;
  height: 25px;
  width: 25px;
}

.extended-sidebar-link p {
  font-family: Roboto, Arial;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 6px;
  font-weight: bold;
}

.extended-sidebar-link .fa-house {
  margin-left: 11px;
}

.extended-sidebar-link .fa-calendar {
  margin-left: 14px;
}

.extended-sidebar-link .fa-rectangle-list {
  margin-left: 10px;
}

.extended-sidebar-link .fa-circle-info {
  margin-left: 12px;
}

.extended-sidebar-link .sidebar-link p {
  font-family: Roboto, Arial;
  font-size: 16px;
  margin-left: 18px;
}

.extended-sidebar-link #calendar-label{
  margin-left: 14px;
}

.extended-sidebar-link #help-label{
  margin-left: 16px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 220px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none; 
}

#extended-sidebar.visible ~ .overlay {
  display: block;
}

